:root {
    --bg-dark: hsl(0 0% 3%);
    --bg: hsl(0 0% 5%);
    --bg-light: hsl(0 0% 10%);

    --text: hsl(2 42% 96%);
    --text-muted: hsl(2 6% 70%);

    --highlight: hsl(2 4% 40%);
    --border: hsl(2 5% 29%);
    --border-muted: hsl(2 7% 19%);

    --primary: hsl(25 66% 67%);
    --primary-on-hover: hsl(25 66% 57%);
    --secondary: hsl(202 73% 67%);
    --secondary-on-hover: hsl(202 73% 57%);

    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);

    --distance-xs: 4px;
    --distance-s: 8px;
    --distance-m: 12px;
    --distance-l: 20px;
    --distance-xl: 32px;
    --distance-xxl: 64px;
}
* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

    background-color: var(--bg-dark);
}

header {
    background-color: var(--bg-dark);
    text-align: center;
    color: var(--text);
}

.footer {
    margin-top: var(--distance-m);
    height: 8%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: var(--bg-dark);
    color: var(--text-muted);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
    height: 100%;

    color: var(--text);
    background-color: var(--bg);
    border-radius: var(--distance-m);
    border: 1px solid var(--border-muted);

    overflow-y: scroll;

}

.newTask {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: var(--distance-m) var(--distance-s);
}

.newTaskInput {

}

.taskList {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;

    background-color: var(--bg);
}

.button {
    background-color: var(--primary);

    color: var(--text);
    padding: var(--distance-xs) var(--distance-s);

    border: none;
    border-radius: var(--distance-m);
}

.button:hover {
    transition: all 0.2s ease;
    background-color: var(--primary-on-hover);
}

.newTaskInput {
    height: 100%;
    padding: 0 var(--distance-s);
    border: none;
    border-radius: var(--distance-m) 0 0 var(--distance-m);
}

.newTaskButton {
    height: 100%;
    border-radius: 0 var(--distance-m) var(--distance-m) 0;
}

.delete-task {

}

.task {
    display: flex;
}

.completed {
    text-decoration: line-through;
}
